@font-face {
    font-family: 'Verdana Regular';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana Bold';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Verdana Regular';
}
.header {
    width: 78.04%;
    padding-top: 50px;
    padding-left: 155px;
    display: flex;
}
.header__logo-text {
    font-family: 'Verdana Bold';
    color: #fff;
    padding-left: 15px;
    text-transform: uppercase;
}
.header__logo-image {
    height: 100%;
}
.header__logo-text-firstWord {
    font-size: 29px;
}
.header__logo-text-secondWord {
    font-size: 18px;
}
.logo {
    display: flex;
}
.contact-info {
    color: #fff;
    margin-left: auto;
    font-family: 'Verdana Regular';
}
.contact-info__number {
    float: right;
}
.clear {
    clear: both;
}
.contact-info__e-mail {
    float: right;
}
.content {
    width: 78.04%;
    padding-left: 155px;
    padding-top: 46px;    
}
.content__first-row,.content__second-row {
    display: flex;
}
.content__first-row {
    padding-bottom: 57px;
}
.cards-text {
    color: #fff;
    font-family: 'Verdana Regular';
    text-align: center;
    padding-top: 19px;
    font-size: 18px;
}
.content__first-row-card3,.content__second-row-card6,.content__first-row-card2,.content__second-row-card5  {
    margin-left: auto;
}
.footer {
  padding-top: 55px;
}
.footer-copiright {
  font-size: 12px;
  color: #fff;
  font-family: 'Verdana Regular';
  text-align: center;
  padding-bottom: 20px;
}
.content-link {
    display: block;
}
.wrapper {
    position: relative;
}
  .hidden { 
    width: 100%;
    height: 0; 
    overflow: hidden; 
    transition: 0.3s linear;
    position: absolute;
    bottom: 0; 
    background-color: #f36700;
    color: white;
    box-sizing: border-box; 
    display: flex;
  }

  .content__first-row-card1:hover .hidden {height: 63px;}
  .content__first-row-card2:hover .hidden {height: 63px;}
  .content__first-row-card3:hover .hidden {height: 63px;}
  .content__second-row-card4:hover .hidden {height: 63px;}
  .content__second-row-card5:hover .hidden {height: 63px;}
  .content__second-row-card6:hover .hidden {height: 63px;}

  .content__first-row-card1:hover .cards-text {color: #f36700;}
  .content__first-row-card2:hover .cards-text {color: #f36700;}
  .content__first-row-card3:hover .cards-text {color: #f36700;}
  .content__second-row-card4:hover .cards-text {color: #f36700;}
  .content__second-row-card5:hover .cards-text {color: #f36700;}
  .content__second-row-card6:hover .cards-text {color: #f36700;}

  .tours-price__firstWord {
      font-size: 10px;
      padding-left: 20px;
      padding-top: 15px;
  }
  .tours-price__secondWord {
      font-size: 20px;
      padding-left: 20px;
  }
  .learnMore {
      font-size: 14px;
      margin-left: auto;
      padding-top: 30px;
      display: flex;
  }
  .learnMore__arrow {
        border-right: solid;
        border-top: solid;
        width: 7px;  
        height: 7px; 
        transform: rotate(45deg);
        margin-right: 22px;
  }
  .learnMore__text {
      padding-right: 18px;
  }
  .card1-img,
  .card2-img,
  .card3-img,
  .card4-img,
  .card5-img,
  .card6-img {
      width: 303px;
      display: block;
      border-left: 2px solid;
      border-right: 2px solid;
      border-top: 3px solid;
      border-image: linear-gradient(to top, #000, #fff) 1 100%;
      border-image-slice: 3 2 3 2;
    }
  